<link rel = "stylesheet" href = "/stylesheets/modal.css">

{{!-- Wrapper --}}
<div class="flex flex-col items-center justify-center">
    {{!-- Main Div--}}
    <div class = "flex flex-col justify-center w-4/6">

        <h1 class="my-2 text-5xl">{{course.subject}}{{course.course_number}}: {{course.title}} - {{course.section}}</h1>

        {{!-- Tabs --}}
        <div class="flex flex-row">
            <h2 class="w-32 p-2 text-center bg-blue-50 rounded-t-2xl tab">Assignments</h2>
            <h2 class="w-32 p-2 text-center bg-blue-50 rounded-t-2xl tab">Students</h2>
        </div>

        {{!-- Assignments Div--}}
        <div id = "assignments tab" class="flex flex-col">

            {{!-- Assignments Content --}}
            <div class="p-4 bg-blue-50 tab_contents">

                {{!-- Add-assignment button --}}
                <button class = "w-56 mx-4 text-white bg-indigo-400 shadow rounded-2xl h-14 modal_open">
                    Add Assignment
                </button>

                {{!-- Add-assignment modal --}}
                <div class = "modal">
                    
                    <div class="flex-col h-32 bg-blue-100 w-96 justify-self-center">
                        <div class = "flex justify-between w-full px-4 text-lg text-white bg-indigo-400">
                            <h1 class = >Add an Assignment</h2>
                            <button class = "text-white modal_close">x</button>
                        </div>

                        <form id="add-assignment" action="/create-assignment" method="POST" class="flex flex-col items-center justify-center">
                            <div class = "m-4">
                                <label for="title" class="w-32 mr-2 text-right">
                                    Title:
                                </label>
                                <input type="text" id="title" name="title" placeholder="HW 1 - Sample Title" class="shadow focus:outline-none focus:placeholder-transparent"/>
                                <input type="text" id="class-id" name="class_id" class="hidden" value="{{course.id}}" />
                            </div>
                            <input class="self-end p-2 mx-4 text-white bg-indigo-400 shadow rounded-xl" type="submit" value="Add Assignment" />
                        </form>
                    </div>

                </div>
                
                {{!-- Assignments List --}}
                <ul>
                    {{#each assignments}}
                        <li><a href="/assignments/{{this.id}}">{{this.title}}</a></li>
                    {{/each}}
                </ul>

            </div>
        </div>

        {{!-- Students Div--}}
        <div id = "students tab" class="flex flex-col tab_contents">

            {{!-- Students Content --}}
            <div class="p-4 bg-blue-50">

                {{!-- Add-Students button --}}
                <button class = "w-56 mx-4 text-white bg-indigo-400 shadow rounded-2xl h-14 modal_open">
                    Add Student to Course
                </button>

                {{!-- Add-Students modal --}}
                <div id = "modal" class = "modal">
                    <div class="flex-col h-64 bg-blue-100 w-96 justify-self-center">
                        <div class = "flex justify-between w-full px-4 text-lg text-white bg-indigo-400">
                            <h1 class = >Add Student to Course</h2>
                            <button class = "text-white modal_close">x</button>
                        </div>

                        <form action="/add-student-to-course" method="POST" class = "flex flex-col items-center justify-center">
                            <div class = "m-4">
                                <label for="title" class="w-32 mr-2 text-right">
                                First Name:
                                </label>
                                <input type="text" id="title" name="title" placeholder="John" class = "shadow focus:outline-none focus:placeholder-transparent"/>
                            </div>
                            <div class = "m-4">
                                <label for="title" class="w-32 mr-2 text-right">
                                Last Name:
                                </label>
                                <input type="text" id="title" name="title" placeholder="Doe" class = "shadow focus:outline-none focus:placeholder-transparent"/>
                            </div>
                            <div class = "m-4">
                                <label for="title" class="w-32 mr-2 text-right">
                                Student ID:
                                </label>
                                <input type="text" id="title" name="title" placeholder="123456789" class = "shadow focus:outline-none focus:placeholder-transparent"/>
                            </div>
                            <input class="self-end p-2 mx-4 text-white bg-indigo-400 shadow rounded-xl" type="submit" value="Add Student" />
                        </form>
                    </div>

                </div>

                {{!-- Students List --}}
                <ul>
                    {{#each students}}
                      <li><a href="/students/{{this.id}}">{{this.first_name}} {{this.last_name}}</a></li>
                    {{/each}}
                </ul>

            </div>
        </div>

    </div>


</div>


<script src="/javascripts/modal.js"></script>
<script src="/javascripts/tabs.js"></script>

